@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    text-shadow: 1px 1px 10px black;
}

html{
    background-color: #0f0f0f;
}

.App{
    margin: 10vh 5vw;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.header{    
    display: flex;
    justify-content: center;
    background-color: #121212;
}

.menu{
    display: flex;
    gap: 2vw;
    margin: 3vh;
}

.itens{
    color: #efefef;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4vw;
    padding: 0.2rem;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 25%);
    transition: transform 0.5s;
}

.itens-menu{
    transition: transform 0.5s;
}

li {
    list-style-type: none;
  }

  /* ANIMAÇÃO HEADER*/
.itens:focus{
    background-color: #FFC303;
    color: black;
    box-shadow: 1px 1px 20px black;
}

.itens:hover{
    background-color: #FFC303;
    color: black;
    box-shadow: 1px 1px 20px black;
}

.itens-menu:hover{
    transform: scale(1.2);
    transform: rotate(10deg);
}

/* Responsivo */

@media(max-width: 1440px){
    .itens{
        font-size: 2vw;
    }
}

@media(max-width: 912px){
    .itens{
        font-size: 2.5vw;
    }
}